<%autors_id = @autors.find_by(id: comment.user_id) %>
<% if  comment.id != nil %>
  <div class="container " id="comment-<%= comment.id %>">
    <div class="row about_comment" style="padding: .5rem">
      <div class="col">
      </div>
      <div class="col-6 col-md-2">
        Updated <%= distance_of_time_in_words(comment.updated_at, Time.now) %> ago
      </div>
      <%if comment.edited? %>
        <div class="alert alert-primary" role="alert">
          Edited
        </div>
      <% end %>
    </div>
    <div class="row coment_box">
      <div class="container">
        <div class="row ">

        <div class="col-md-8">
          <%= comment.body %>
        </div>
        </div>
        <% unless current_author.nil?%>
          <%if comment.user_id == current_author.id%>
            <div class="row" style="padding: .5rem">
              Status: <%= comment.status %><br>
              <% a = comment.updated_at.hour %>  <%b = comment.created_at.hour%>
              <%= a-b %>
              <% if comment.status == 'unpublished' %>
                <%= link_to 'Publish Comment', publish_post_comment_path(@post.id, comment.id), method: :post,
                            class: 'btn btn-warning btn-sm', role: "button", style: "color: white",
                            data: { confirm: 'Are you sure?' } %>
              <% end %>
              <%= link_to "Delete", post_comment_path(post_id: comment.post_id, id: comment.id),
                          method: :delete,
                          class: 'btn btn-danger btn-sm', role: "button", style: "color: white",
                          data: { confirm: 'Are you sure?' } %>
              <%= link_to 'Edit', edit_post_comment_path(comment.post, comment.id), class: "btn btn-secondary btn-sm" %>
            </div>
            </div>
          <% end %>

        <% end %>
        </div>
    <hr>
  </div>
<% end %>




