<%autors_id = @autors.find_by(id: comment.user_id) %>
<% if  comment.present? %>

  <div class="container">
    <div class="col ">
      <div class="row about_comment">
        <div class="col-2" >
          <%=autors_id.full_name %>
        </div>
        <div class="col-6">
          Created <%= distance_of_time_in_words(comment.created_at, Time.now) %> ago
        </div>
        <%if comment.edited? %>
          <div class="col-4">
              Edited
          </div>
        <% end %>
      </div>
    </div>
    <div class="row align-items-end coment_box"  >
      <div class="col-2">
        <div class="container">
          <div class="w-100"></div>
          <div class="col" >
            <img src="<%= autors_id.avatar%>"   style= "width: 100%; border-radius: .4rem; border: .2rem solid #4e4e4e;" >
          </div>
        </div>
      </div>
      <div class="col">
        <div class="w-100"></div>
        <div class="col" style="padding-bottom: 1rem"><%= comment.body %></div>
        <div class="row align-items-end" >

            <% unless current_author.nil?%>
              <%if comment.user_id == current_author.id%>
                <div class="col-12 col-md-8">
                  <% if comment.status == 'unpublished' %>
                    <%= link_to 'Publish Comment', publish_post_comment_path(@post.id, comment.id), method: :post,
                                class: 'btn btn-warning btn-sm', role: "button", style: "color: white",
                                data: { confirm: 'Are you sure?' } %>
                  <% end %>
                  <%= link_to "Delete", post_comment_path(post_id: comment.post_id, id: comment.id),
                              method: :delete,
                              class: 'btn btn-danger btn-sm', role: "button", style: "color: white",
                              data: { confirm: 'Are you sure?' } %>
                  <%if Time.now.to_formatted_s(:number).to_i - comment.created_at.to_formatted_s(:number).to_i < 52000 %>
                  <%= link_to 'Edit', edit_post_comment_path(comment.post, comment.id), class: "btn btn-secondary btn-sm" %>
                  <% end %>
                                  </div>
                <div class="col-6 col-md-4">
                  Status: <%= comment.status %><br>


                </div>
              <% end %>
            <% end %>
            </div>
      </div>
    </div>
  <hr>
<% end %>
</div>
