<%autors_id = @autors.find_by(id: comment.user_id) %>
<% if  comment.id != nil %>

  <div class="container">
    <div class="row align-items-start" style="border: 2px solid red " >
      <div class="col-2" style="border: 2px solid red " >
        <div class="container">
          <div class="col" >
            <%=autors_id.full_name %>
          </div>
          <div class="w-100"></div>
          <div class="col" >
            <%= image_tag autors_id.avatar, style: "width: 100%"  %>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="col">
          <div class="row" style="border: 2px solid red ">
            <div class="col-6">
              Updated <%= distance_of_time_in_words(comment.updated_at, Time.now) %> ago
            </div>
            <%if comment.edited? %>
              <div class="col-4">
                <div class="alert alert-primary" role="alert">
                  Edited
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="w-100"></div>
        <div class="col" style="border: 2px solid red "><%= comment.body %></div>


        <div class="row align-items-end" style="border: 2px solid red ">

            <% unless current_author.nil?%>
              <%if comment.user_id == current_author.id%>
                <div class="col-12 col-md-8">
                  <% if comment.status == 'unpublished' %>
                    <%= link_to 'Publish Comment', publish_post_comment_path(@post.id, comment.id), method: :post,
                                class: 'btn btn-warning btn-sm', role: "button", style: "color: white",
                                data: { confirm: 'Are you sure?' } %>
                  <% end %>
                  <%= link_to "Delete", post_comment_path(post_id: comment.post_id, id: comment.id),
                              method: :delete,
                              class: 'btn btn-danger btn-sm', role: "button", style: "color: white",
                              data: { confirm: 'Are you sure?' } %>
                  <%= link_to 'Edit', edit_post_comment_path(comment.post, comment.id), class: "btn btn-secondary btn-sm" %>
                </div>
                <div class="col-6 col-md-4">
                  Status: <%= comment.status %><br>
                  <% a = comment.updated_at.hour %>  <%b = comment.created_at.hour%>
                  <%= a-b %>
                </div>
              <% end %>
            <% end %>
            </div>
      </div>
    </div>
<% end %>
</div>
