<p id="notice"><%= notice %></p>
<% %>
<p>
  <strong>Name:</strong>
  <%= @post.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<div class="container-lg" style="margin-bottom: 1%">
  <strong>Image:</strong>
  <img class=".img_show" src="<%= @post.image %>" class="img-fluid" style=" width: 80%; max-height: 80%;">
</div>

<%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-info', role: "button", style: "color: white" %> |
<%= link_to 'Back', posts_path, class: 'btn btn-secondary', role: "button", style: "color: white" %>
<hr>
<%= check_box("comment", "show_comment", {}, value: "published")%>
<%= check_box("comment", "show_comment", options = { class: 'PostsController'}, "1", "0")%>

<%= check_box("puppy", "gooddog", {}, "yes", "no")%>
<div class="container">
  <div class="row">
    <h2>Comments</h2>
  </div>
  <div class="row">
    <div class="row">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="show_published" id="defaultCheck1" checked="checked">
        <%= check_box_tag("venue_categories[]", 1)%>
        <label class="form-check-label" for="defaultCheck1">
          Show published
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="show_unpublished" id="defaultCheck2">
        <%= check_box_tag("venue_categories[]", 2)%>
        <label class="form-check-label" for="defaultCheck1">
          Show unpublished
        </label>
      </div>
    </div>
  </div>
</div>










<% if @comments.any?%>
  <% @comments.each do |comment| %>
    <%= render "comments/comment", comment: comment %>
  <% end %>
<% end %>

<%= form_for ([@post, @comments.build]) do |form|%>
  <% if @comments.any? %>
    <div id="error_explanation">
      <h2><%= pluralize( @comment.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% @comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.label :name%>

  <%= form.select(:user_id, Author.order("first_name ASC").collect {|author| [author.full_name, author.id]}, {prompt: "Select author"},
                  class: "form-control") %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :body, class: "form-control"  %>
  </div>

  <%= form.submit("Add comment", {:class => 'btn btn-success'}) %>
<% end %>

<% @comment.errors.any? %>
<% @comment.errors.full_messages.each do |msg| %>
  <div class="alert alert-danger"><%=msg%></div>
<% end %>

